build/
corners.pgm
w.pgm
.tmp
.ccls-cache*
.vscode
.envrc
.clang-format
.o
.pyc
cmake-build-debug/
.vs
CMakeFiles/
.idea
CMakeCache.txt
cmake_install.cmake
images/binary/angles
output
tags

**/__pycache__

thesis/*.latexmain
thesis/Chapters/*.aux
thesis/Appendices/*.aux
thesis/*.aux
thesis/*.lof
thesis/*.log
thesis/*.lot
thesis/*.fls
thesis/*.out
thesis/*.toc
thesis/*.fmt
thesis/*.fot
thesis/*.cb
thesis/*.cb2
thesis/.*.lb
thesis/*.dvi
thesis/*.xdv
thesis/*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
thesis/*.bbl
thesis/*.bcf
thesis/*.blg
thesis/*-blx.aux
thesis/*-blx.bib
thesis/*.run.xml

## Build tool auxiliary files:
thesis/*.fdb_latexmk
thesis/*.synctex
thesis/*.synctex(busy)
thesis/*.synctex.gz
thesis/*.synctex.gz(busy)
thesis/*.pdfsync


presentation/*.latexmain
presentation/Chapters/*.aux
presentation/Appendices/*.aux
presentation/*.aux
presentation/*.lof
presentation/*.log
presentation/*.lot
presentation/*.fls
presentation/*.out
presentation/*.toc
presentation/*.fmt
presentation/*.fot
presentation/*.cb
presentation/*.cb2
presentation/.*.lb
presentation/*.dvi
presentation/*.xdv
presentation/*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
presentation/*.bbl
presentation/*.bcf
presentation/*.blg
presentation/*-blx.aux
presentation/*-blx.bib
presentation/*.run.xml

## Build tool auxiliary files:
presentation/*.fdb_latexmk
presentation/*.synctex
presentation/*.synctex(busy)
presentation/*.synctex.gz
presentation/*.synctex.gz(busy)
presentation/*.pdfsync
