build/
.tmp
.vscode
.envrc
.clang-format
.o
.pyc
cmake-build-debug/
.vs
CMakeFiles/
.idea
CMakeCache.txt
cmake_install.cmake
images/binary/angles
output
tags

tex/*.latexmain
tex/Chapters/*.aux
tex/Appendices/*.aux
tex/*.aux
tex/*.lof
tex/*.log
tex/*.lot
tex/*.fls
tex/*.out
tex/*.toc
tex/*.fmt
tex/*.fot
tex/*.cb
tex/*.cb2
tex/.*.lb
tex/*.dvi
tex/*.xdv
tex/*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
tex/*.bbl
tex/*.bcf
tex/*.blg
tex/*-blx.aux
tex/*-blx.bib
tex/*.run.xml

## Build tool auxiliary files:
tex/*.fdb_latexmk
tex/*.synctex
tex/*.synctex(busy)
tex/*.synctex.gz
tex/*.synctex.gz(busy)
tex/*.pdfsync
